<template>
    <div class="row">

        <div class="col">
            <div class="card mb-3">
                <div class="card-body row">
                    <div class="col">
                        <label><strong>Wybierz datę początkową</strong></label>
                        <date-picker v-model="date" @dp-change="getMeasurements" :config="options"></date-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements === null">
            <div class="card">
                <div class="card-body">
                    <Spinner size="large" :line-fg-color="spinnerColor" />
                </div>
            </div>
        </div>


        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length === 0">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="text-muted">Brak pomiarów!</h3>
                        <p>Kliknij <router-link :to="{name: 'measurements'}">tu</router-link>, aby dodać</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Masa ciała</h3>
            <div class="card">
                <div class="card-body">
                    <WeightChart :measurements="measurements" />
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Procent tkanki tłuszczowej</h3>
            <div class="card">
                <div class="card-body">
                    <BodyfatChart :measurements="measurements" />
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Obwód ramienia (biceps)</h3>
            <div class="card">
                <div class="card-body">
                    <BicepsChart :measurements="measurements" />
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Obwód klatki piersiowej</h3>
            <div class="card">
                <div class="card-body">
                    <ChestChart :measurements="measurements" />
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Obwód talii</h3>
            <div class="card">
                <div class="card-body">
                    <WaistChart :measurements="measurements" />
                </div>
            </div>
        </div>

        <div class="col-12 mb-3" v-if="measurements !== null && measurements.length > 0">
            <h3>Obwód uda</h3>
            <div class="card">
                <div class="card-body">
                    <ThighChart :measurements="measurements" />
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner'
    import WeightChart from '../charts/WeightChart'
    import BodyfatChart from '../charts/BodyfatChart'
    import BicepsChart from '../charts/BicepsChart'
    import ChestChart from '../charts/ChestChart'
    import WaistChart from '../charts/WaistChart'
    import ThighChart from '../charts/ThighChart'
    import AllChart from '../charts/AllChart'

    export default {
        data() {
            return {
                spinnerColor: this.$store.getters.themeRGB,
                measurements: null,
                date: null,
                options: {
                    format: 'DD-MM-YYYY',
                    maxDate: new Date()
                },
            }
        },
        methods: {
            getMeasurements: function () {
                const date = this.date || '';
                this.measurements = null;
                this.$store.dispatch('getMeasurements', date)
                    .then((response) => {
                        this.measurements = response.data
                        // this.updateChartData();
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
        },
        components: { Spinner, WeightChart, BodyfatChart, AllChart, BicepsChart, ChestChart, WaistChart, ThighChart },
        props: {
        },
        created: function() {
            this.getMeasurements();
        },
        mounted() {
        }
    }
</script>

<style>
</style>
