<template>
    <div id="daily-summary">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <label><strong>Wybierz datę</strong></label>
                        <date-picker v-model="date" @dp-change="getDaySummary()" :config="options"></date-picker>
                    </div>
                </div>
            </div>
        </div>

        <Spinner v-if="isLoading && meals === null" class="mt-3" size="large" :line-fg-color="spinnerColor" />

        <ProgressBars v-if="!isLoading && date" :data="daySummary" />

        <div v-for="meal in meals" v-if="!isLoading && date" class="row mt-2">
            <div class="col">
                <MealSummary :meal="meal" @saveMeal="saveMeal" />
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';
    import MealSummary from '../daily-summary/MealSummary';
    import ProgressBars from '../daily-summary/ProgressBars';

    export default {
        data() {
            return {
                meals: null,
                date: this.$store.getters.getSummaryDate || new Date(),
                options: {
                    format: 'DD-MM-YYYY',
                    useCurrent: true,
                    maxDate: new Date()
                },
                spinnerColor: this.$store.getters.themeRGB,
                daySummary: {},
                isLoading: false
            }
        },
        methods: {
            getDaySummary: function () {
                this.isLoading = true;
                this.meals = null;
                this.$store.dispatch('getUserMeals', this.date)
                    .then((response) => {
                        this.meals = response.data;
                        this.daySummary = this.calculateDaySummary();
                        this.$store.commit('setSummaryDate', this.date);
                        this.isLoading = false;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            calculateDaySummary: function () {
                let daySummary = {
                    proteins: 0,
                    carbs: 0,
                    fats: 0,
                    calories: 0,
                };
                this.meals.forEach(function (meal) {
                    meal.products.forEach(function (product) {
                        daySummary.proteins += product.proteins * product.pivot.weight / 100;
                        daySummary.carbs+= product.carbs * product.pivot.weight / 100;
                        daySummary.fats += product.fats* product.pivot.weight / 100;
                        daySummary.calories += product.calories * product.pivot.weight / 100;
                    });
                });
                daySummary.proteins = Math.round(daySummary.proteins * 10) / 10;
                daySummary.carbs = Math.round(daySummary.carbs * 10) / 10;
                daySummary.fats = Math.round(daySummary.fats * 10) / 10;
                daySummary.calories = Math.round(daySummary.calories);

                return daySummary;
            },
            saveMeal: function (meal) {
                this.$store.dispatch('saveUserMeal', meal)
                    .then((response) => {
                        // this.$delete(this.meal.products, index);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
        },
        components: { Spinner, MealSummary, ProgressBars },
        props: {
        },
        created: function() {
            if (this.date) {
                this.getDaySummary();
            }
        },
        mounted() {
        }
    }
</script>

<style>
</style>
