<template>
    <div>
        <!--Loading screen-->
        <div class="text-center" v-if="!meals">
            <Spinner size="large" :line-fg-color="spinnerColor" />
        </div>
        <div v-else>
            <div v-if="goal === null" class="row">
                <div class="col">
                    <b-alert show variant="info">
                        <i class="fas fa-exclamation-circle"></i>
                        <strong>Aby korzystać z graficznego podsumowania dnia należy uzupełnić dane w zakładce Profil</strong>
                    </b-alert>
                </div>
            </div>
            <div class="row" v-if="meals && goal">
                <div class="col">
                    <ProgressBars :data="daySummary" :goals="goal"
                        :settings="settings" />
                </div>
            </div>

            <MealList :meals="meals" />
            <button @click="addNewMeal" class="btn-block mt-3" :class="btnClass" :disabled="!showAddMealButton">
                <span v-show="!showAddMealButton"><i class="fas fa-spinner fa-spin"></i> Dodaję posiłek</span>
                <span v-show="showAddMealButton">Dodaj nowy posiłek</span>
            </button>
        </div>
    </div>
</template>

<script>
    import ProgressBars from '../dashboard/ProgressBars'
    import MealList from '../dashboard/MealList'
    import HelpBox from '../dashboard/HelpBox'
    import Spinner from 'vue-simple-spinner'

    export default {
        data() {
            return {
                todayDate: new Date(),
                selectedMeal: null, // used to select actual meal
                productSearchQuery: '', // holds search query
                searchedProducts: null, // fetched products when adding
                addedProduct: null, // newly added product
                meals: this.$store.getters.meals,
                showAddMealButton: true,
                productToEdit: {
                    meal: null,
                    product: null,
                    newWeight: 0,
                },

                settings: this.$store.getters.settings,
                btnClass: this.$store.getters.button,
                goal: this.$store.getters.user.goal,
                spinnerColor: this.$store.getters.themeRGB,
            }
        },
        computed: {
            daySummary: function () {
                return this.$store.getters.daySummary
            }
        },
        methods: {
            getAllMeals: function(date) {
                this.$store.dispatch('getUserMeals', date)
                    .then(() => {
                        this.meals = this.$store.getters.meals;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            addNewMeal: function () {
                this.showAddMealButton = false;
                this.$store.dispatch('addNewMeal')
                    .then(() => {
                        this.showAddMealButton = true;
                        this.scrollToNewMeal();
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            scrollToNewMeal: function() {
                var container = this.$el.querySelector("#mealsContainer");
                container.scrollTop = container.scrollHeight;
            },

        },
        components: { ProgressBars, MealList, HelpBox, Spinner },
        props: {
        },
        created() {
            this.getAllMeals(this.todayDate);
        },
    }
</script>

<style>
</style>
