<template>
    <div class="row">
        <div class="col">
            <button @click="handleMode" v-if="!addMeasurementMode" :class="btnClass" class="btn-block mb-2">Dodaj nowy pomiar</button>

            <div class="card">
                <div class="card-body">
                    <Spinner v-if="measurements === null" size="large" :line-fg-color="spinnerColor" />

                    <div v-if="measurements !== null">
                        <MeasurementList v-if="!addMeasurementMode" :measurements="measurements" :currentPage="currentPage" />
                        <MeasurementAddForm :mode.sync="addMeasurementMode" v-else />
                    </div>

                </div>
            </div>
            <b-pagination v-if="measurements !== null && !addMeasurementMode" :total-rows="measurements.length" :per-page="perPage" v-model="currentPage" align="right"
                          :class="paginationClass" class="mt-2" />
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner'
    import MeasurementList from '../measurements/MeasurementList'
    import MeasurementAddForm from '../measurements/MeasurementAddForm'

    export default {
        data() {
            return {
                measurements: null,
                currentPage: 1,
                btnClass: this.$store.getters.button,
                paginationClass: this.$store.getters.theme === 'pink' ? 'pagination-pink' : '',
                spinnerColor: this.$store.getters.themeRGB,
                addMeasurementMode: false,

                perPage: this.$store.getters.settings.number_of_items_in_table,
            }
        },
        methods: {
            getMeasurements: function () {
                this.$store.dispatch('getMeasurements')
                    .then((response) => {
                        this.measurements = response.data
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            handleMode: function () {
                this.addMeasurementMode = !this.addMeasurementMode;
            }

        },
        components: { Spinner, MeasurementList, MeasurementAddForm },
        props: {
        },
        created: function() {
            this.getMeasurements();
        },
        mounted() {
        }
    }
</script>

<style>
</style>
