<template>
    <div class="row">
        <div class="col">
            <button v-if="!addProductMode" :class="btnClass" class="btn-block mb-2" @click="showAddForm()">Dodaj nowy produkt</button>

            <div class="card">
                <!--<div class="card-header">-->
                    <!--<ul class="nav nav-tabs card-header-tabs">-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link cursor-pointer" :class="getTabClass('myProducts')" @click="setActualTab('myProducts')">-->
                                <!--My products-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link cursor-pointer" :class="getTabClass('acceptedProducts')" @click="setActualTab('acceptedProducts')">-->
                                <!--Accepted products-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <div class="card-body">
                    <MyProducts v-if="!addProductMode" :products="products" :currentPage="currentPage" />
                    <ProductAddForm :mode.sync="addProductMode" v-else />

                </div>
            </div>
            <b-pagination v-if="!addProductMode && products !== null && products.length > 0" :total-rows="products.length" :per-page="perPage" v-model="currentPage" align="right"
                          :class="paginationClass" class="mt-2" />
        </div>
    </div>
</template>

<script>
    import MyProducts from '../my-products/MyProducts'
    import ProductAddForm from '../my-products/ProductAddForm'

    export default {
        data() {
            return {
                products: null,
                currentPage: 1,
                btnClass: this.$store.getters.button,
                addProductMode: false,

                perPage: this.$store.getters.settings.number_of_items_in_table,
                paginationClass: this.$store.getters.theme === 'pink' ? 'pagination-pink' : ''
            }
        },
        methods: {
            getProducts: function () {
                this.$store.dispatch('getUserProducts')
                    .then((response) => {
                        this.products = response;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            showAddForm: function () {
                this.addProductMode = true;
            }
            // changeEditMode: function (product) {
            //     console.log('Changing')
            //     console.log(product)
            // }
            // getTabClass: function (tabName) {
            //     return {
            //         active: this.actualTab === tabName ? true : false,
            //     }
            // },
            // setActualTab: function (tabName) {
            //     this.actualTab = tabName;
            // },
        },
        components: { MyProducts, ProductAddForm },
        props: {
        },
        created: function() {
            this.getProducts();
        },
        mounted() {
        }
    }
</script>

<style>
</style>
