<template>
    <div class="row">
        <div class="col">
            <b-alert v-if="!user.goal" show variant="info">
                <i class="fas fa-exclamation-circle"></i>
                <strong>Aby w pełni korzystać z serwisu należy uzupełnić zapotrzebowanie kaloryczne!</strong>
            </b-alert>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer" :class="getTabClass('info')" @click="setActualTab('info')">
                                Zapotrzebowanie kaloryczne
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer" :class="getTabClass('settings')" @click="setActualTab('settings')">
                                Ustawienia
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <ProfileInfo v-show="actualTab === 'info'" />
                    <ProfileSettings v-show="actualTab === 'settings'" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ProfileSettings from '../profile/ProfileSettings'
    import ProfileInfo from '../profile/ProfileInfo'

    export default {
        data() {
            return {
                actualTab: 'info',
                user: this.$store.getters.user
            }
        },
        methods: {
            getTabClass: function (tabName) {
                return {
                    active: this.actualTab === tabName ? true : false,
                }
            },
            setActualTab: function (tabName) {
                this.actualTab = tabName;
            }
        },
        components: { ProfileSettings, ProfileInfo },
        props: {
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
