<template>
    <b-alert show variant="success">
        <h4 class="alert-heading">Done</h4>
        <ul>
            <li>create a new meal</li>
            <li>edit meal name</li>
            <li>delete meal</li>
            <li>add products to the specific meal (using all products from DB)<br>
                To change product weight just <strong>click</strong> on it
            </li>
            <li>remove products from the specific meal (<strong>double click</strong> on product)</li>
            <li>save meals when added/deleted products from it</li>
            <li>progress bars max values (calories, proteins etc.) are static for now</li>
        </ul>
    </b-alert>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        computed: {
        },
        methods: {
        },
        props: {
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
