<template>
    <div>
        <!--Delete confirm-->
        <b-modal id="deleteMealModal" title="Deleting meal" :ok-variant="btnThemeName" @ok="deleteMeal()" centered>
            <p>Are You sure?</p>
        </b-modal>

        <!--Meal title and buttons: save, edit, delete-->
        <div class="row mt-3" v-for="meal in meals" :key="meal.id" id="mealsContainer">
            <div class="col-md-12">
                <div v-if="!show.editMealBtn && mealToEdit === meal" class="input-group mb-2">
                    <input v-model="newMealName" @keyup.enter="editMeal()" type="text" class="form-control" v-focus>
                    <div class="input-group-append">
                        <button @click="editMeal()" :class="btnClass" type="button">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>

                <h2 v-else class="inline">{{ meal.name }}</h2>
                <div v-show="show.editMealBtn || mealToEdit !== meal" class="float-right">
                    <button class="btn btn-sm btn-primary" @click="showEditMealBox(meal)">
                        <span><i class="fas fa-edit"></i> Zmień nazwę</span>
                    </button>
                    <button class="btn btn-sm btn-danger" @click="selectMealToDelete(meal)"
                            :disabled="!show.deleteMealBtn && mealToDelete === meal" v-b-modal.deleteMealModal>
                        <span v-show="show.deleteMealBtn || mealToDelete !== meal"><i class="fas fa-trash-alt"></i></span>
                        <span v-show="!show.deleteMealBtn && mealToDelete === meal"><i class="fas fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <MealSummary :meal="meal" @saveMeal="saveMeal" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MealSummary from '../dashboard/MealSummary'

    export default {
        data() {
            return {
                mealToDelete: null,
                mealToSave: null,
                mealToEdit: null,
                newMealName: '',
                show: {
                    saveMealBtn: true,
                    deleteMealBtn: true,
                    editMealBtn: true
                },
                showSaveMealButton: true,
                showDeleteMealButton: true,
                editedMealName: null,

                btnClass: this.$store.getters.button,
                btnThemeName: this.$store.getters.theme
            }
        },
        methods: {
            selectMealToDelete: function (meal) {
                this.mealToDelete = meal;
            },
            deleteMeal: function () {
                this.show.deleteMealBtn = false;
                this.$store.dispatch('deleteUserMeal', this.mealToDelete)
                    .then(() => {
                        this.meals = this.$store.getters.meals;
                        this.mealToDelete = null;
                        this.show.deleteMealBtn = true;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            saveMeal: function (meal) {
                this.mealToSave = meal;
                this.show.saveMealBtn = false;
                this.$store.dispatch('saveUserMeal', meal)
                    .then((response) => {
                        this.show.saveMealBtn = true;
                        this.mealToSave = null;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            showEditMealBox: function (meal) {
                this.mealToEdit = meal;
                this.show.editMealBtn = false;
                this.newMealName = meal.name;
            },
            editMeal: function () {
                /* if name is the same or is empty, don't send the request */
                if (this.mealToEdit.name === this.newMealName || this.newMealName.length === 0) {
                    this.mealToEdit = null;
                    this.show.editMealBtn = true;
                    return;
                }
                this.$store.dispatch('editUserMeal', {
                    meal: this.mealToEdit,
                    newName: this.newMealName
                })
                    .then((response) => {
                        this.mealToEdit = null;
                        this.show.editMealBtn = true;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
        },
        props: {
            meals: Array,
        },
        components: { MealSummary },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
