<template>
    <div class="card">
        <div class="card-body">

            <strong><i v-if="caloriesDiff < 0" class="fas fa-exclamation-circle text-primary"></i> Kalorie: </strong>
            <small>{{ this.data.calories }} / {{ this.goals.calories }}</small>
            <b-progress :max="goals.calories" variant="primary" class="mb-2">
                <b-progress-bar v-if="data.calories" :value="this.data.calories">
                    <div v-if="settings.show_numbers_in_bars">
                        <strong v-if="caloriesDiff < 0">{{ -caloriesDiff }} za dużo</strong>
                        <strong v-else>{{ caloriesDiff }} pozostało</strong>
                    </div>
                </b-progress-bar>
            </b-progress>

            <strong><i v-if="proteinsDiff < 0" class="fas fa-exclamation-circle text-info"></i> Białko: </strong>
            <small>{{ this.data.proteins }} / {{ this.goals.proteins }}</small>
            <b-progress :max="goals.proteins" variant="info" class="mb-2">
                <b-progress-bar v-if="data.proteins" :value="data.proteins">
                    <div v-if="settings.show_numbers_in_bars">
                        <strong v-if="proteinsDiff < 0">{{ -proteinsDiff }} za dużo</strong>
                        <strong v-else>{{ proteinsDiff }} pozostało</strong>
                    </div>
                </b-progress-bar>
            </b-progress>

            <strong><i v-if="carbsDiff < 0" class="fas fa-exclamation-circle text-danger"></i> Węglowodany: </strong>
            <small>{{ this.data.carbs }} / {{ this.goals.carbs}}</small>
            <b-progress :max="goals.carbs" variant="danger" class="mb-2">
                <b-progress-bar v-if="data.carbs" :value="data.carbs">
                    <div v-if="settings.show_numbers_in_bars">
                        <strong v-if="carbsDiff < 0">{{ -carbsDiff }} za dużo</strong>
                        <strong v-else>{{ carbsDiff }} pozostało</strong>
                    </div>
                </b-progress-bar>
            </b-progress>

            <strong><i v-if="fatsDiff < 0" class="fas fa-exclamation-circle text-warning"></i> Tłuszcz: </strong>
            <small>{{ this.data.fats }} / {{ this.goals.fats }}</small>
            <b-progress :max="goals.fats" variant="warning" class="mb-2">
                <b-progress-bar v-if="data.fats" :value="data.fats" class="text-dark">
                    <div v-if="settings.show_numbers_in_bars">
                        <strong v-if="fatsDiff < 0">{{ -fatsDiff }} za dużo</strong>
                        <strong v-else>{{ fatsDiff }} pozostało</strong>
                    </div>
                </b-progress-bar>
            </b-progress>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        computed: {
            caloriesDiff: function () {
                return this.goals.calories - this.data.calories;
            },
            /* Math.round allows to return float with .1 precission */
            proteinsDiff: function () {
                return (Math.round((this.goals.proteins - this.data.proteins) * 10) / 10)
            },
            carbsDiff: function () {
                return (Math.round((this.goals.carbs - this.data.carbs) * 10) / 10)
            },
            fatsDiff: function () {
                return (Math.round((this.goals.fats - this.data.fats) * 10) / 10)
            },
        },
        methods: {
        },
        props: {
            data: Object,
            goals: Object,
            settings: Object
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
