<template>
    <line-chart v-if="measurements.length !== 0" :data="chartData"></line-chart>
    <div class="text-center" v-else>
        <h3 class="text-muted">No data</h3>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                chartData: [],
                weightData: {},
                bodyfatData: {},
                min: 0,
                max: 0
            }
        },
        computed: {

        },
        methods: {

        },
        props: {
            measurements: Array
        },
        created: function() {
            this.measurements.forEach(m => {
                this.weightData[m.created_at] = m.weight;
                this.bodyfatData[m.created_at] = m.body_fat;
                // this.chartData['weight'][m.created_at] = m.weight;
                // this.chartData['body_fat'][m.created_at] = m.body_fat;
            });
            this.chartData.push({
                name: 'Weight',
                data: this.weightData
            }, {
                name: 'Body fat',
                data: this.bodyfatData
            }
            );
        },
        mounted() {

        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
