<template>
    <line-chart v-if="measurements.length !== 0" :min="min" :data="chartData" suffix="%"></line-chart>
    <div class="text-center" v-else>
        <h3 class="text-muted">No info about body fat</h3>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                chartData: {},
                min: 0,
                max: 0
            }
        },
        computed: {

        },
        methods: {

        },
        props: {
            measurements: Array
        },
        created: function() {
            this.measurements.forEach(m => {
                this.max = m.body_fat > this.max ? m.body_fat : this.max;
                this.chartData[m.created_at] = m.body_fat
            });
        },
        mounted() {

        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
