<template>
    <line-chart v-if="!isEmpty" :min="min" :data="chartData" suffix="cm"></line-chart>
    <div class="text-center" v-else>
        <h3 class="text-muted">Brak informacji</h3>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                chartData: {},
                min: 0,
                max: 0,
                isEmpty: true
            }
        },
        computed: {

        },
        methods: {

        },
        props: {
            measurements: Array
        },
        created: function() {
            this.measurements.forEach(m => {
                this.max = m.waist > this.max ? m.waist : this.max;
                this.chartData[m.created_at] = m.waist
                if (m.waist) this.isEmpty = false;
            });

        },
        mounted() {
        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
