<template>
    <line-chart v-if="measurements.length !== 0" suffix="kg" :min="min" :max="max" :data="chartData"></line-chart>
    <div class="text-center" v-else>
        <h3 class="text-muted">No info about weight</h3>
        <p>Click <router-link :to="{name: 'measurements'}">here</router-link> to add a measurement</p>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                chartData: {},
                min: 200,
                max: 0
            }
        },
        computed: {

        },
        methods: {
            calculateData: function () {
                this.measurements.forEach(m => {
                    this.min = m.weight < this.min ? m.weight : this.min;
                    this.max = m.weight > this.max ? m.weight : this.max;
                    this.chartData[m.created_at] = m.weight
                });
                // this.max = Math.ceil(this.max / 2) * 2;
            }
        },
        props: {
            measurements: Array
        },
        created: function() {
            this.calculateData();
        },
        mounted() {

        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
