.active-pink {
  background: $my_pink;
  color: white;
  &:hover {
    background: $my_pink;
    color: white;
  }
}

/* To logout */
.list-group-item-pink {
  color: white;
  background-color: $my_pink;
}

.list-group-item-pink.list-group-item-action:hover,
.list-group-item-pink.list-group-item-action:focus,
.list-group-item-pink.list-group-item-action.active {
  color: white;
  background-color: $my_pink;
  border-color: $my_pink;
}

.dropdown-item-pink:focus {
  background: $my_pink
}

/* To pink pagination */
.pagination-pink .page-item.active .page-link {
  background: $my_pink;
  border-color: $my_pink;
}


.list-group-item {
  -webkit-transition: width 2s; /* Safari */
  transition: padding-left 0.2s;
}

.nav-list .list-group-item:hover {
  padding-left: 1.5rem !important;
}

/* Used to avatar in navbar */
//.navbar {
//  @media(min-width: 768px) {
//    padding: 0 1rem;
//    min-height: 56px;
//  }
//}

  /* Helpers */

.text-normal {
  font-weight: normal;
}

.text-tile-lg {
  font-size: 2.5rem;
}

.text-tile-md {
  font-size: 1.5rem
}

.text-tile-sm {
  font-size: 1rem
}

.block {
  display: block;
}

.inline {
  display: inline !important;
}

.no-margin {
  margin: 0px !important;
}

.no-display {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
