<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <Spinner v-if="isLoading" size="large" :line-fg-color="spinnerColor" />

                    <div v-if="!isLoading">
                        <h1 v-if="isNotAllowed">To nie jest Twój produkt!</h1>
                        <div v-else>
                            <div v-if="editMode && !isValid" class="alert alert-danger" role="alert">
                                <p v-for="error in errors">
                                    {{ error }}
                                </p>
                            </div>

                            <h1 v-if="!editMode">
                                {{ product.name }}
                                <button v-if="isProposing" disabled :class="btnClass" class="btn btn-success float-right ml-2"><i class="fas fa-spinner fa-spin"></i> Czekaj</button>
                                <button v-if="!isProposing" :disabled="product.proposed_at" :class="btnClass" class="btn btn-success float-right ml-2" v-b-modal.proposeProduct>{{ product.proposed_at ? 'Zaproponowany' : 'Zaproponuj' }}</button>
                                <button :class="btnClass" class="btn btn-primary float-right" @click="editProduct">Edytuj</button>
                            </h1>
                            <input v-else v-model="editedProduct.name" type="text" class="form-control" v-focus />

                            <!--Proposal confirm-->
                            <b-modal id="proposeProduct" title="Proponowanie produktu" :ok-variant="btnThemeName" cancel-title="Anuluj" @ok="proposeProduct()" centered>
                                <p>Produkt zostanie zaproponowany do puli globalnej. Jesteś {{ genderConfirm }}?</p>
                            </b-modal>

                            <table class="table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Białko</th>
                                    <th scope="col">Węglowodany</th>
                                    <!--<th scope="col">Cukry</th>-->
                                    <th scope="col">Tłuszcz</th>
                                    <th scope="col">Kalorie</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span v-if="!editMode">{{ product.proteins }}</span>
                                        <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.proteins" />
                                    </td>
                                    <td>
                                        <span v-if="!editMode">{{ product.carbs }}</span>
                                        <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.carbs" />
                                    </td>
                                    <!--<td>-->
                                        <!--<span v-if="!editMode">{{ product.sugars }}</span>-->
                                        <!--<input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.sugars" />-->
                                    <!--</td>-->
                                    <td>
                                        <span v-if="!editMode">{{ product.fats }}</span>
                                        <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.fats" />
                                    </td>
                                    <th scope="row">
                                        <span v-if="!editMode">{{ product.calories }}</span>
                                        <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.calories" />
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <pie-chart v-if="!editMode" legend="bottom" class="mt-4" :data="chartData"
                                       :colors="['#3490dc', '#e3342f', '#ffc107']" ></pie-chart>

                            <div class="float-md-right" v-if="editMode">
                                <button class="btn btn-link col-md-auto mb-1 mb-md-0" @click="cancel()">Anuluj</button>
                                <button :class="btnClass" class="btn btn-primary col-md-auto" :disabled="isUpdating"
                                        @click="saveProduct()">
                                    <span v-if="!isUpdating">Zapisz</span>
                                    <span v-else><i class="fas fa-spinner fa-spin"></i> Zapisuję</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                id: this.$route.params.id,
                isLoading: true,
                isNotAllowed: false,
                product: {},
                editedProduct: {},
                chartData: [
                    ['Białko', 0],
                    ['Węglowodany', 0],
                    ['Tłuszcz', 0],
                    ['Inne', 0]
                ],
                spinnerColor: this.$store.getters.themeRGB,
                editMode: false,
                btnClass: this.$store.getters.button,
                errors: [],
                isValid: true,
                isUpdating: false,
                btnThemeName: this.$store.getters.theme,
                genderConfirm: this.$store.getters.user.gender == 'm' ? 'pewien' : 'pewna',
                isProposing: false
            }
        },
        computed: {

        },
        methods: {
            cancel: function () {
                this.editMode = false;
                this.errors = [];
                this.isValid = true;
            },
            validate: function () {
                this.errors = [];
                if (this.editedProduct.name.length < 3) {
                    this.errors.push('Pole nazwa musi składać się z minimum 3 znaków');
                }
                if (isNaN(parseFloat(this.editedProduct.proteins))) {
                    this.errors.push('Białko musi być liczbą');
                } else {
                    if (this.editedProduct.proteins < 0) {
                        this.errors.push('Białko musi być większe od 0');
                    } else {
                        this.editedProduct.proteins = this.editedProduct.proteins.replace(',', '.')
                    }
                }
                if (isNaN(parseFloat(this.editedProduct.carbs))) {
                    this.errors.push('Pole węglowodany muszą składać się z minimum 3 znaków');
                } else {
                    if (this.editedProduct.carbs < 0) {
                        this.errors.push('Węglowodany muszą być większe od 0');
                    } else {
                        this.editedProduct.carbs = this.editedProduct.carbs.replace(',', '.')
                    }
                }
                // if (isNaN(parseFloat(this.editedProduct.sugars)) || parseFloat(this.editedProduct.sugars) > parseFloat(this.editedProduct.carbs)) {
                //     this.errors.push('Pole cukry musi być liczbą i musi być większe lub równe ilości węglowodanów');
                // } else {
                //     if (this.editedProduct.sugars < 0) {
                //         this.errors.push('Cukry muszą być większe od 0');
                //     } else {
                //         this.editedProduct.sugars = this.editedProduct.sugars.replace(',', '.')
                //     }
                // }
                if (isNaN(parseFloat(this.editedProduct.fats))) {
                    this.errors.push('Pole tłuszcz musi być liczbą');
                } else {
                    if (this.editedProduct.fats < 0) {
                        this.errors.push('Tłuszcz musi być większy od 0');
                    } else {
                        this.editedProduct.fats = this.editedProduct.fats.replace(',', '.')
                    }
                }
                if (isNaN(parseFloat(this.editedProduct.calories))) {
                    this.errors.push('Pole kalorie musi być liczbą');
                } else {
                    if (this.editedProduct.calories < 0) {
                        this.errors.push('Kalorie muszą być większe od 0');
                    } else {
                        this.editedProduct.calories = this.editedProduct.calories.replace(',', '.')
                    }
                }
                return this.errors.length === 0 ? true : false;
            },
            setChartData: function () {
                this.chartData[0][1] = this.product.proteins,
                this.chartData[1][1] = this.product.carbs,
                this.chartData[2][1] = this.product.fats,
                this.chartData[3][1] = (100 - (Number(this.product.proteins) + Number(this.product.carbs) + Number(this.product.fats))).toFixed(2)
            },
            getProduct: function () {
                this.$store.dispatch('getProduct', this.id)
                    .then((response) => {
                        this.product = response.data
                        this.isLoading = false;
                        this.setChartData();
                    })
                    .catch((error) => {
                        this.isNotAllowed = true;
                        this.isLoading = false;
                        // console.log(error);
                    })
            },
            editProduct: function () {
                this.editMode = true;
                this.editedProduct = {
                    'id': this.product.id,
                    'name': this.product.name,
                    'proteins': this.product.proteins.toString(),
                    'carbs': this.product.carbs.toString(),
                    // 'sugars': this.product.sugars.toString(),
                    'fats': this.product.fats.toString(),
                    'calories': this.product.calories.toString(),
                }
            },
            saveProduct: function () {
                if (this.validate()) {
                    this.updateProduct();
                } else {
                    this.isValid = false;
                }
            },
            updateProduct: function () {
                this.isUpdating = true;
                this.$store.dispatch('updateProduct', this.editedProduct)
                    .then((response) => {
                        this.editMode = false;
                        this.isValid = true;
                        this.product = response.data;
                        this.isUpdating = false;
                        this.setChartData();
                    })
                    .catch((error) => {
                    })
            },
            proposeProduct: function() {
                this.isProposing = true;
                this.$store.dispatch('proposeProduct', this.product.id)
                    .then((response) => {
                        this.isProposing = false;
                        this.product.proposed_at = true;
                    })
                    .catch((error) => {
                    })
            }
        },
        props: {
            products: Array
        },
        created: function() {
            this.getProduct();
        },
        mounted() {

        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
