<template>
    <div>
        <Spinner v-if="products === null" size="large" :line-fg-color="spinnerColor" />

        <div v-else>
            <b-table :items="products" :per-page="perPage" :fields="fields" :current-page="currentPage" responsive>
                <template slot="options" slot-scope="row">
                    <div>
                        <!--class="float-md-right"-->
                        <b-button :variant="btnThemeName" size="sm" @click="productDetails(row)">
                            <i class="fas fa-info-circle"></i> Szczegóły
                        </b-button>
                        <b-button size="sm" variant="danger" @click="selectProductToDelete(row)" cancel-title="Anuluj" v-b-modal.deleteProduct
                                  :disabled="!show.deleteButton && row.item.id === productToDelete.id">
                            <span v-if="show.deleteButton || row.item.id !== productToDelete.id">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            <span v-if="!show.deleteButton && row.item.id === productToDelete.id">
                                <i class="fas fa-spinner fa-spin"></i>
                            </span>
                        </b-button>
                    </div>
                </template>
            </b-table>
            <!--<b-pagination :total-rows="products.length" :per-page="5" v-model="currentPage" align="right" />-->
        </div>

        <!--Delete confirm-->
        <b-modal id="deleteProduct" title="Usuwanie produktu" :ok-variant="btnThemeName" @ok="deleteProduct()" centered>
            <p>Produkt zostanie usunięty. Jesteś pewny/a?</p>
        </b-modal>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner'

    export default {
        data() {
            return {
                productToDelete: {},
                // currentPage: 1,
                btnThemeName: this.$store.getters.theme,
                fields: [
                    // { key: 'id', sortable: true },
                    { key: 'name', sortable: true, label: 'Nazwa produktu' },
                    { key: 'proteins', label: 'Białko' },
                    { key: 'carbs', label: 'Węglowodany' },
                    { key: 'fats', label: 'Tłuszcz' },
                    { key: 'calories', sortable: true, label: 'Kalorie' },
                    { key: 'options', class: 'text-right', label: 'Opcje' }
                ],
                show: {
                    deleteButton: true
                },
                spinnerColor: this.$store.getters.themeRGB,
                perPage: this.$store.getters.settings.number_of_items_in_table,
            }
        },
        computed: {

        },
        methods: {
            selectProductToDelete: function (row) {
                this.productToDelete = row.item;
            },
            productDetails: function (row) {
                this.$router.push({ name: 'myProductsDetails', params: { id: row.item.id }})
            },
            deleteProduct: function () {
                this.show.deleteButton = false;
                this.$store.dispatch('deleteProduct', this.productToDelete)
                    .then((response) => {
                        let index = this.products.findIndex(p => p.id == this.productToDelete.id);
                        Vue.delete(this.products, index);
                        this.show.deleteButton = true;
                        this.productToDelete = {}
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
        props: {
            products: Array,
            currentPage: Number
        },
        created: function() {
        },
        mounted() {
        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
