<template>
    <div id="productAddForm">
        <div v-if="!isValid" class="alert alert-danger" role="alert">
            <span v-for="error in errors">
                {{ error }}<br>
            </span>
        </div>

        <label for="name" class="font-weight-bold">Nazwa produktu</label>
        <input v-model="newProduct.name" id="name" type="text" class="form-control" v-focus />
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Białko</th>
                <th scope="col">Węglowodany</th>
                <!--<th scope="col">Sugars</th>-->
                <th scope="col">Tłuszcz</th>
                <th scope="col">Kalorie</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="newProduct.proteins" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="newProduct.carbs" />
                </td>
                <!--<td>-->
                    <!--<input class="form-control form-control-sm" type="text" v-model="newProduct.sugars" />-->
                <!--</td>-->
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="newProduct.fats" />
                </td>
                <th scope="row">
                    <input class="form-control form-control-sm" type="text" v-model="newProduct.calories" />
                </th>
            </tr>
            </tbody>
        </table>

        <div class="float-right">
            <button class="btn btn-link" @click="cancel()" :disabled="isUpdating">Anuluj</button>
            <button :class="btnClass" @click="submitForm()" :disabled="isUpdating">
                <span v-if="!isUpdating">Dodaj produkt</span>
                <span v-else><i class="fas fa-spinner fa-spin"></i> Dodaję</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                btnClass: this.$store.getters.button,
                newProduct: {
                    name: '',
                    proteins: '0',
                    carbs: '0',
                    sugars: '0',
                    fats: '0',
                    calories: '0'
                },
                errors: [],
                isValid: true,
                isUpdating: false
            }
        },
        computed: {
        },
        methods: {
            cancel: function () {
                this.$emit('update:mode', false)
            },
            validate: function () {
                this.errors = [];
                if (this.newProduct.name.length < 3) {
                    this.errors.push('Pole nazwa musi składać się z minimum 3 znaków');
                }
                if (isNaN(parseFloat(this.newProduct.proteins))) {
                    this.errors.push('Białko musi być liczbą');
                } else {
                    if (this.newProduct.proteins < 0) {
                        this.errors.push('Białko musi być większe od 0');
                    } else {
                        this.newProduct.proteins = this.newProduct.proteins.replace(',', '.')
                    }
                }
                if (isNaN(parseFloat(this.newProduct.carbs))) {
                    this.errors.push('Pole węglowodany muszą składać się z minimum 3 znaków');
                } else {
                    if (this.newProduct.carbs < 0) {
                        this.errors.push('Węglowodany muszą być większe od 0');
                    } else {
                        this.newProduct.carbs = this.newProduct.carbs.replace(',', '.')
                    }
                }
                // if (isNaN(parseFloat(this.newProduct.sugars)) || parseFloat(this.newProduct.sugars) > parseFloat(this.newProduct.carbs)) {
                //     this.errors.push('Pole cukry musi być liczbą i musi być większe lub równe ilości węglowodanów');
                // } else {
                //     if (this.newProduct.sugars < 0) {
                //         this.errors.push('Cukry muszą być większe od 0');
                //     } else {
                //         this.newProduct.sugars = this.newProduct.sugars.replace(',', '.')
                //     }
                // }
                if (isNaN(parseFloat(this.newProduct.fats))) {
                    this.errors.push('Pole tłuszcz musi być liczbą');
                } else {
                    if (this.newProduct.fats < 0) {
                        this.errors.push('Tłuszcz musi być większy od 0');
                    } else {
                        this.newProduct.fats = this.newProduct.fats.replace(',', '.')
                    }
                }
                if (isNaN(parseFloat(this.newProduct.calories))) {
                    this.errors.push('Pole kalorie musi być liczbą');
                } else {
                    if (this.newProduct.calories < 0) {
                        this.errors.push('Kalorie muszą być większe od 0');
                    } else {
                        this.newProduct.calories = this.newProduct.calories.replace(',', '.')
                    }
                }
                return this.errors.length === 0 ? true : false;
            },
            submitForm: function () {
                if (this.validate()) {

                    this.isUpdating = true;
                    this.$store.dispatch('saveProduct', this.newProduct)
                        .then((response) => {
                            this.isUpdating = false;
                            this.$router.go()
                        })
                        .catch((error) => {
                        })
                } else {
                    this.isValid = false;
                }
            }
        },
        props: {
            mode: Boolean
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
