<template>
    <div class="list-group nav-list mb-3">
        <span class="text-muted">Menu główne</span>
        <router-link :to="{ name: 'dashboard' }"
           class="list-group-item list-group-item-action" :class="getItemClass('dashboard')">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </router-link>
        <router-link :to="{ name: 'profile' }"
                     class="list-group-item list-group-item-action" :class="getItemClass('profile')">
                     <!--class="list-group-item list-group-item-action" :class="{'active': this.$route.name === 'profile'}">-->
            <i class="fas fa-user-circle"></i> Profil
        </router-link>

        <span class="text-muted mt-2">Moja dieta</span>
        <router-link :to="{ name: 'dailySummary' }"
                     class="list-group-item list-group-item-action" :class="getItemClass('dailySummary')">
            <i class="far fa-calendar-alt"></i> Podsumowanie dnia
        </router-link>
        <router-link :to="{ name: 'charts' }"
                     class="list-group-item list-group-item-action" :class="getItemClass('charts')">
            <i class="fas fa-chart-line"></i> Wykresy
        </router-link>
        <router-link :to="{ name: 'myProducts' }"
                     class="list-group-item list-group-item-action" :class="getItemClass('myProducts')">
            <i class="fas fa-utensils"></i> Moje produkty
        </router-link>
        <router-link :to="{ name: 'measurements' }"
                     class="list-group-item list-group-item-action" :class="getItemClass('measurement')">
            <i class="fas fa-weight"></i> Moje pomiary
        </router-link>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        methods: {
            getItemClass: function (route) {
                return {
                    'list-group-item-pink': this.$route.name.startsWith(route) && this.$store.getters.settings.theme,
                    'active': this.$route.name.startsWith(route) && !this.$store.getters.settings.theme,
                }
            }
        },
        components: { },
        props: {
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
