<template>
    <div class="row" id="app" v-cloak>
        <div class="col-md-3">
            <Sidebar />
        </div>
        <div class="col-md-9">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Sidebar from './layout/Sidebar';

    export default {
        components: { Sidebar },
        created() {
            this.$store.commit('setUser', this.user)
            axios.defaults.headers.authorization = 'Bearer ' + this.user.api_token;
        },
        props: ['user']
    }
</script>
