<template>
    <div>
        <b-table :items="measurements" :per-page="perPage" :fields="fields" :current-page="currentPage"  responsive>
            <template slot="options" slot-scope="row">
                <div class="float-md-right">
                    <b-button :variant="btnThemeName" size="sm" @click="measurementDetails(row)">
                        <i class="fas fa-info-circle"></i> Szczegóły
                    </b-button>
                    <b-button size="sm" variant="danger" @click="selectMeasurementToDelete(row)"
                              :disabled="!show.deleteButton && measurementToDelete.id === row.item.id" v-b-modal.deleteMeasurement>
                        <span v-if="show.deleteButton || measurementToDelete.id !== row.item.id">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span v-if="!show.deleteButton && measurementToDelete.id === row.item.id">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>
                    </b-button>
                </div>
            </template>
        </b-table>

        <!--Delete confirm-->
        <b-modal id="deleteMeasurement" title="Usuwanie pomiaru" :ok-variant="btnThemeName" cancel-title="Anuluj" @ok="deleteMeasurement()" centered>
            <p>Pomiar zostanie usunięty. Jesteś pewny/a?</p>
        </b-modal>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                measurementToDelete: {},
                show: {
                    deleteButton: true
                },
                btnThemeName: this.$store.getters.theme,
                fields: [
                    { key: 'created_at', sortable: true, label: 'Data pomiaru' },
                    { key: 'weight', label: 'Masa ciała' },
                    { key: 'options', class: 'text-right', label: 'Opcje' }
                ],

                perPage: this.$store.getters.settings.number_of_items_in_table,
            }
        },
        computed: {
        },
        methods: {
            measurementDetails: function (row) {
                this.$router.push({ name: 'measurementDetails', params: { id: row.item.id }})
            },
            deleteMeasurement: function () {
                this.show.deleteButton = false;
                this.$store.dispatch('deleteMeasurement', this.measurementToDelete)
                    .then((response) => {
                        let index = this.measurements.findIndex(m => m.id == this.measurementToDelete.id);
                        Vue.delete(this.measurements, index);
                        this.show.deleteButton = true;
                        this.measurementToDelete = {}
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            selectMeasurementToDelete: function (row) {
                this.measurementToDelete = row.item;
            }
        },
        props: {
            measurements: Array,
            currentPage: Number
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
