<template>
    <div id="measurementAddForm">
        <div v-if="!isValid" class="alert alert-danger" role="alert">
            <span v-for="error in errors">
                {{ error }}<br>
            </span>
        </div>

        <table class="table table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">Masa ciała</th>
                <th scope="col">Wzrost</th>
                <th scope="col">% tkanki tłuszczowej</th>
                <th scope="col">Biceps</th>
                <th scope="col">Klatka piersiowa</th>
                <th scope="col">Talia</th>
                <th scope="col">Udo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="measurement.weight" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="measurement.height" />
                </td>
                <td>
                    <input class="form-control form-control-sm" type="text" v-model="measurement.body_fat" />
                </td>
                <td scope="row">
                    <input class="form-control form-control-sm" type="text" v-model="measurement.biceps" />
                </td>
                <td scope="row">
                    <input class="form-control form-control-sm" type="text" v-model="measurement.chest" />
                </td>
                <td scope="row">
                    <input class="form-control form-control-sm" type="text" v-model="measurement.waist" />
                </td>
                <td scope="row">
                    <input class="form-control form-control-sm" type="text" v-model="measurement.thigh" />
                </td>
            </tr>
            </tbody>
        </table>
        <div class="float-right">
            <button class="btn btn-link" @click="cancel()" :disabled="isUpdating">Cofnij</button>
            <button :class="btnClass" @click="submitForm()" :disabled="isUpdating">
                <span v-if="!isUpdating">Dodaj pomiar</span>
                <span v-else><i class="fas fa-spinner fa-spin"></i> Dodaję pomiar</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                btnClass: this.$store.getters.button,
                measurement: {},
                errors: [],
                isValid: true,
                isUpdating: false
            }
        },
        computed: {
        },
        methods: {
            cancel: function () {
                this.$emit('update:mode', false)
            },
            validate: function () {
                this.errors = [];

                if (this.measurement.weight === undefined || this.measurement.weight === '') {
                    this.measurement.weight = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.weight))) {
                        this.errors.push('Masa ciała musi być liczbą');
                    } else {
                        if (this.measurement.weight < 0) {
                            this.errors.push('Masa ciała musi być większa od 0');
                        } else {
                            this.measurement.weight = this.measurement.weight.replace(',', '.')
                        }
                    }
                }

                if (this.measurement.height === undefined || this.measurement.height === '') {
                    this.measurement.height = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.height))) {
                        this.errors.push('Wzrost musi być liczbą');
                    } else {
                        if (this.measurement.height < 0) {
                            this.errors.push('Wzrost musi być większy od 0');
                        } else {
                            this.measurement.height = this.measurement.height.replace(',', '.')
                        }
                    }
                }

                if (this.measurement.body_fat === undefined || this.measurement.body_fat === '') {
                    this.measurement.body_fat = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.body_fat))) {
                        this.errors.push('Procent tkanki tłuszczowej musi być liczbą');
                    } else {
                        if (this.measurement.body_fat < 0) {
                            this.errors.push('Procent tkanki tłuszczowej musi być większy od 0');
                        } else {
                            this.measurement.body_fat = this.measurement.body_fat.replace(',', '.')
                        }
                    }
                }

                if (this.measurement.biceps === undefined || this.measurement.biceps === '') {
                    this.measurement.biceps = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.biceps))) {
                        this.errors.push('Obwód bicepsa musi być liczbą');
                    } else {
                        if (this.measurement.biceps < 0) {
                            this.errors.push('Obwód bicepsa musi być większy od 0');
                        } else {
                            this.measurement.biceps = this.measurement.biceps.replace(',', '.')
                        }
                    }
                }

                if (this.measurement.chest === undefined || this.measurement.chest === '') {
                    this.measurement.chest = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.chest))) {
                        this.errors.push('Obwód klatki piersiowej musi być liczbą');
                    } else {
                        if (this.measurement.chest < 0) {
                            this.errors.push('Obwód klatki piersiowej musi być większy od 0');
                        } else {
                            this.measurement.chest = this.measurement.chest.replace(',', '.')
                        }
                    }
                }


                if (this.measurement.waist === undefined || this.measurement.waist === '') {
                    this.measurement.waist = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.waist))) {
                        this.errors.push('Obwód talii musi być liczbą');
                    } else {
                        if (this.measurement.waist < 0) {
                            this.errors.push('Obwód talii musi być większy od 0');
                        } else {
                            this.measurement.waist = this.measurement.waist.replace(',', '.')
                        }
                    }
                }

                if (this.measurement.thigh === undefined || this.measurement.thigh === '') {
                    this.measurement.thigh = undefined
                } else {
                    if (isNaN(parseFloat(this.measurement.thigh))) {
                        this.errors.push('Obwód uda musi być liczbą');
                    } else {
                        if (this.measurement.thigh < 0) {
                            this.errors.push('Obwód uda musi być większy od 0');
                        } else {
                            this.measurement.thigh = this.measurement.thigh.replace(',', '.')
                        }
                    }
                }

                // delete undefined keys
                const keys = Object.keys(this.measurement)
                for (let i = 0; i < keys.length; i++) {
                    if (this.measurement[keys[i]] === undefined) {
                        delete this.measurement[keys[i]]
                    }
                }


                return this.errors.length === 0 ? true : false;
            },
            submitForm: function () {
                this.isValid = this.validate();
                if (this.isValid && Object.keys(this.measurement).length !== 0) {

                    this.isUpdating = true;
                    this.$store.dispatch('saveMeasurement', this.measurement)
                        .then((response) => {
                            this.isUpdating = false;
                            this.$router.go()
                        })
                        .catch((error) => {
                        })
                } else {
                    this.isValid = false;
                    this.errors.push('Wypełnij przynajmniej jedno pole')
                }
            }
        },
        props: {
            mode: Boolean
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
