<template>
    <div class="row">
        <div class="col">
            <h3 v-if="!isLoading">{{ measurement.created_at }}</h3>
            <div class="card">
                <div class="card-body">
                    <Spinner v-if="isLoading" size="large" :line-fg-color="spinnerColor" />

                    <div v-if="!isLoading">
                        <table class="table table-responsive-sm">
                            <thead>
                            <tr>
                                <th scope="col">Masa ciała</th>
                                <th scope="col">Wzrost</th>
                                <th scope="col">Procent tkanki tłuszczowej</th>
                                <th scope="col">Biceps</th>
                                <th scope="col">Klatka piersiowa</th>
                                <th scope="col">Talia</th>
                                <th scope="col">Udo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span v-if="!editMode">{{ measurement.weight }}kg</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.carbs" />
                                </td>
                                <td>
                                    <span v-if="!editMode">{{ measurement.height || '-' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.sugars" />
                                </td>
                                <td>
                                    <span v-if="!editMode">{{ measurement.body_fat || '-' }}{{ measurement.body_fat ? '%' : '' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.fats" />
                                </td>
                                <td scope="row">
                                    <span v-if="!editMode">{{ measurement.biceps || '-' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.calories" />
                                </td>
                                <td scope="row">
                                    <span v-if="!editMode">{{ measurement.chest || '-' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.calories" />
                                </td>
                                <td scope="row">
                                    <span v-if="!editMode">{{ measurement.waist || '-' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.calories" />
                                </td>
                                <td scope="row">
                                    <span v-if="!editMode">{{ measurement.thigh || '-' }}</span>
                                    <input v-else class="form-control form-control-sm" type="text" v-model="editedProduct.calories" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        data() {
            return {
                id: this.$route.params.id,
                measurement: null,
                isLoading: true,
                isNotAllowed: false,
                product: {},
                spinnerColor: this.$store.getters.themeRGB,
                editMode: false,
                btnClass: this.$store.getters.button,
            }
        },
        computed: {

        },
        methods: {
            // cancel: function () {
            //     this.editMode = false;
            //     this.errors = [];
            //     this.isValid = true;
            // },
            // validate: function () {
            //     this.errors = [];
            //     if (this.editedProduct.name.length < 3) {
            //         this.errors.push('Name must have at least 3 characters');
            //     }
            //     if (isNaN(parseFloat(this.editedProduct.proteins))) {
            //         this.errors.push('Protein field must be a number');
            //     } else {
            //         if (this.editedProduct.proteins < 0) {
            //             this.errors.push('Proteins cannot be less than zero');
            //         } else {
            //             this.editedProduct.proteins = this.editedProduct.proteins.replace(',', '.')
            //         }
            //     }
            //     if (isNaN(parseFloat(this.editedProduct.carbs))) {
            //         this.errors.push('Carbohydrates field must be a number');
            //     } else {
            //         if (this.editedProduct.carbs < 0) {
            //             this.errors.push('Carbohydrates cannot be less than zero');
            //         } else {
            //             this.editedProduct.carbs = this.editedProduct.carbs.replace(',', '.')
            //         }
            //     }
            //     if (isNaN(parseFloat(this.editedProduct.sugars)) || parseFloat(this.editedProduct.sugars) > parseFloat(this.editedProduct.carbs)) {
            //         this.errors.push('Sugars field must be a number and less or equal to carbohydrates');
            //     } else {
            //         if (this.editedProduct.sugars < 0) {
            //             this.errors.push('Sugars cannot be less than zero');
            //         } else {
            //             this.editedProduct.sugars = this.editedProduct.sugars.replace(',', '.')
            //         }
            //     }
            //     if (isNaN(parseFloat(this.editedProduct.fats))) {
            //         this.errors.push('Fats field must be a number');
            //     } else {
            //         if (this.editedProduct.fats < 0) {
            //             this.errors.push('Fats cannot be less than zero');
            //         } else {
            //             this.editedProduct.fats = this.editedProduct.fats.replace(',', '.')
            //         }
            //     }
            //     if (isNaN(parseFloat(this.editedProduct.calories))) {
            //         this.errors.push('Calories field must be a number');
            //     } else {
            //         if (this.editedProduct.calories < 0) {
            //             this.errors.push('Calories cannot be less than zero');
            //         } else {
            //             this.editedProduct.calories = this.editedProduct.calories.replace(',', '.')
            //         }
            //     }
            //     return this.errors.length === 0 ? true : false;
            // },
            // setChartData: function () {
            //     this.chartData[0][1] = this.product.proteins,
            //     this.chartData[1][1] = this.product.carbs,
            //     this.chartData[2][1] = this.product.fats,
            //     this.chartData[3][1] = (100 - (Number(this.product.proteins) + Number(this.product.carbs) + Number(this.product.fats))).toFixed(2)
            // },
            getMeasurement: function () {
                this.$store.dispatch('getMeasurement', this.id)
                    .then((response) => {
                        this.measurement = response.data
                        this.isLoading = false;
                        this.setChartData();
                    })
                    .catch((error) => {
                        this.isNotAllowed = true;
                        this.isLoading = false;
                        // console.log(error);
                    })
            },
            // editProduct: function () {
            //     this.editMode = true;
            //     this.editedProduct = {
            //         'id': this.product.id,
            //         'name': this.product.name,
            //         'proteins': this.product.proteins.toString(),
            //         'carbs': this.product.carbs.toString(),
            //         'sugars': this.product.sugars.toString(),
            //         'fats': this.product.fats.toString(),
            //         'calories': this.product.calories.toString(),
            //     }
            // },
            // saveProduct: function () {
            //     if (this.validate()) {
            //         this.updateProduct();
            //     } else {
            //         this.isValid = false;
            //         console.log(this.errors)
            //     }
            // },
            // updateProduct: function () {
            //     this.isUpdating = true;
            //     this.$store.dispatch('updateProduct', this.editedProduct)
            //         .then((response) => {
            //             this.editMode = false;
            //             this.isValid = true;
            //             this.product = response.data;
            //             this.isUpdating = false;
            //             this.setChartData();
            //         })
            //         .catch((error) => {
            //         })
            // }
        },
        props: {
        },
        created: function() {
            this.getMeasurement();
        },
        mounted() {

        },
        components: {
            Spinner
        }
    }
</script>

<style>
</style>
