<template>
    <div class="my-2">
        <h4>{{ meal.name }}</h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-responsive-sm">
                    <thead>
                    <tr>
                        <th scope="col">Nazwa produktu</th>
                        <th scope="col">Waga (g)</th>
                        <th scope="col">Białko</th>
                        <th scope="col">Węglowodany</th>
                        <th scope="col">Tłuszcz</th>
                        <th scope="col">Kalorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in meal.products">
                        <td>{{ product.name }}</td>
                        <td>{{ product.pivot.weight }}</td>
                        <td>{{ (product.pivot.weight * product.proteins / 100).toFixed(1) }}</td>
                        <td>{{ (product.pivot.weight * product.carbs / 100).toFixed(1) }}</td>
                        <td>{{ (product.pivot.weight * product.fats / 100).toFixed(1) }}</td>
                        <td>{{ Math.round(product.pivot.weight * product.calories / 100) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Łącznie</th>
                        <th scope="col">{{ getTotalSummary('weight', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('proteins', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('carbs', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('fats', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('calories', meal) }}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {
            getTotalSummary: function (type, meal) {
                let sum = 0;

                meal.products.forEach(function (product) {
                    if (type !== 'weight') {
                        sum += (product[type] * product.pivot.weight / 100);
                    } else {
                        sum += Number((product.pivot[type]));
                    }
                });

                if (type === 'calories' || type === 'weight') {
                    return Math.round(sum);
                } else {
                    return sum.toFixed(1);
                }
            },
        },
        props: {
            meal: Object
        },
        created: function() {

        },
        mounted() {
        }
    }
</script>

<style>
</style>
