<template>
    <div class="my-2">
        <h4>{{ meal.name }}</h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-responsive-sm">
                    <thead>
                    <tr>
                        <th scope="col">
                            Product name
                        </th>
                        <th scope="col">
                            Weight (g)
                            <!--<i class="fas fa-question-circle text-muted" id="infoWeight"></i>-->
                            <!--<b-tooltip target="infoWeight">-->
                                <!--<strong>Click</strong> on value to change it-->
                            <!--</b-tooltip>-->
                        </th>
                        <th scope="col">Proteins</th>
                        <th scope="col">Carbohydrates</th>
                        <th scope="col">Fats</th>
                        <th scope="col">Calories</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in meal.products" @click="showEditProductWeight(product, meal)">
                        <td>{{ product.name }}</td>
                        <td>
                            <div v-if="productToEdit.meal == meal && productToEdit.product == product">
                                <div class="input-group input-group-sm">
                                    <input type="text"
                                           class="form-control"
                                           @keyup.enter="editProductWeight"
                                           v-model="productToEdit.newWeight"
                                           aria-label=""
                                           aria-describedby="button-addon2"
                                           style="width: 3rem"
                                           v-focus>
                                    <div class="input-group-append">
                                        <button @click.stop="editProductWeight"
                                                :class="btnClass" type="button" id="button-addon2">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <span v-else>{{ product.pivot.weight }}</span>
                        </td>
                        <td>{{ (product.pivot.weight * product.proteins / 100).toFixed(1) }}</td>
                        <td>{{ (product.pivot.weight * product.carbs / 100).toFixed(1) }}</td>
                        <td>{{ (product.pivot.weight * product.fats / 100).toFixed(1) }}</td>
                        <td>{{ Math.round(product.pivot.weight * product.calories / 100) }}</td>
                        <td><i class="fas fa-times text-muted" @click.stop="deleteProduct(product, meal)"></i></td>
                    </tr>
                    <tr>
                        <th scope="col">Total</th>
                        <th scope="col">{{ getTotalSummary('weight', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('proteins', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('carbs', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('fats', meal) }}</th>
                        <th scope="col">{{ getTotalSummary('calories', meal) }}</th>
                        <th scope="col"></th>
                    </tr>
                    </tbody>
                </table>

                <div v-if="selectedMeal == meal">
                    <hr />
                    <label for="newProduct">Choose a product:</label>
                    <input v-model="productSearchQuery"
                           id="newProduct"
                           name="newProduct"
                           class="form-control form-control-sm"
                           @keyup="handleProductSearchInput"
                           v-focus
                    />
                    <b-list-group class="mb-2">
                        <b-list-group-item button v-for="product in searchedProducts" class="p-0 pl-2" :key="product.id" @click="selectProduct(product)">
                            {{ product.name }}
                            <span class="float-right mr-2">
                                <b-badge variant="info">Proteins</b-badge> <small class="mr-2">{{ product.proteins.toFixed(1) }}</small>
                                <b-badge variant="danger">Carbs</b-badge> <small class="mr-2">{{ product.carbs.toFixed(1) }}</small>
                                <b-badge variant="warning">Carbs</b-badge> <small class="mr-2">{{ product.fats.toFixed(1) }}</small>
                                <b-badge variant="primary">Calories</b-badge> <small>{{ product.calories }}</small>
                            </span>
                        </b-list-group-item>
                    </b-list-group>
                </div>
                <button v-if="!selectedMeal" type="button" :class="btnClass" @click="selectMeal(meal)">Add product</button>
                <button v-if="selectedMeal == meal" type="button" class="btn btn-secondary btn-sm" @click="unselectMeal">Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
    import API from '../../api'

    export default {
        data() {
            return {
                selectedMeal: null,
                productSearchQuery: '',
                searchedProducts: null,
                addedProduct: null,
                btnClass: this.$store.getters.button,
                productToEdit: {
                    meal: null,
                    product: null,
                    newWeight: 0,
                }
            }
        },
        methods: {
            deleteProduct: function (product, meal) {
                let index = meal.products.findIndex(p => p.id == product.id);
                // this.$delete(meal.products, index);
                this.$emit('saveMeal', meal);
            },
            showEditProductWeight: function (product, meal) {
                this.productToEdit.meal = meal;
                this.productToEdit.product = product;
                this.productToEdit.newWeight = product.pivot.weight;
            },
            editProductWeight: function () {
                let meal = this.productToEdit.meal;
                let product = this.productToEdit.product;
                let indexToEdit = meal.products.findIndex(p => p.id == product.id);
                product.pivot.weight = this.productToEdit.newWeight;
                this.$set(meal.products, indexToEdit, product);

                this.$emit('saveMeal', this.productToEdit.meal);

                this.productToEdit.meal = null;
                this.productToEdit.product = null;
                this.productToEdit.newWeight = 0;

            },
            getTotalSummary: function (type, meal) {
                let sum = 0;

                meal.products.forEach(function (product) {
                    if (type !== 'weight') {
                        sum += (product[type] * product.pivot.weight / 100);
                    } else {
                        sum += Number((product.pivot[type]));
                    }
                });

                if (type === 'calories' || type === 'weight') {
                    return Math.round(sum);
                } else {
                    return sum.toFixed(1);
                }
            },

            handleProductSearchInput: function () {
                /* TODO */
                /* Change back to 3 */
                if (this.productSearchQuery.length >= 0) {
                    axios.get(API.PRODUCTS, {
                        params: {
                            'search': this.productSearchQuery
                        }
                    })
                        .then((response) => {
                            // console.log(response.data);
                            this.searchedProducts = response.data;
                        })
                        .catch((error) => {
                            console.log('Something went wrong when fetching product data!');
                        })
                }
            },
            selectProduct: function (product) {
                this.addedProduct = product;

                if (this.isProductActuallyInMeal(product)) {

                    /* instead of adding the same product, edit weight of existing one */
                    let productWithWeight = this.selectedMeal.products.find(p => p.id === product.id);
                    this.showEditProductWeight(productWithWeight, this.selectedMeal);

                    this.unselectMeal();
                    return;
                }

                this.addedProduct = { ...this.addedProduct, pivot: {weight: 100 }}
                this.selectedMeal.products.push(this.addedProduct);
                this.showEditProductWeight(this.addedProduct, this.selectedMeal);

                this.unselectMeal();
            },
            selectMeal: function (meal) {
                this.selectedMeal = meal;
            },
            unselectMeal: function (meal) {
                this.selectedMeal = null;
                this.addedProduct = null;
                this.productSearchQuery = '';
                this.searchedProducts = null;
            },
            isProductActuallyInMeal: function (chosenProduct) {
                return this.selectedMeal.products.find(p => p.id === chosenProduct.id);
            }
        },
        props: {
            meal: Object
        },
        created: function() {

        },
        mounted() {
        }
    }
</script>

<style>
</style>
