<template>
    <div class="card">
        <div class="card-body">

            <strong>Kalorie: </strong>
            <b-progress :max="data.calories ? data.calories: 1" variant="primary">
                <b-progress-bar v-if="data.calories" :value="data.calories">
                    <strong>{{ data.calories }} kalorie</strong>
                </b-progress-bar>
            </b-progress>

            <strong>Białko: </strong>
            <b-progress :max="max ? max: 1" variant="info">
                <b-progress-bar v-if="data.proteins" :value="data.proteins">
                    <strong>{{ data.proteins }}g</strong>
                </b-progress-bar>
            </b-progress>

            <strong>Węglowodany: </strong>
            <b-progress :max="max ? max: 1" variant="danger">
                <b-progress-bar v-if="data.carbs" :value="data.carbs">
                    <strong>{{ data.carbs }}g</strong>
                </b-progress-bar>
            </b-progress>

            <strong>Tłuszcz: </strong>
            <b-progress :max="max ? max: 1" variant="warning">
                <b-progress-bar v-if="data.fats" :value="data.fats">
                    <strong>{{ data.fats }}g</strong>
                </b-progress-bar>
            </b-progress>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // max: this.data.proteins + this.data.carbs + this.data.fats
            }
        },
        computed: {
            max: function () {
                return this.data.proteins + this.data.carbs + this.data.fats
            }
        },
        methods: {
        },
        props: {
            data: Object
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
