<template>
    <div>
        <!--Themes and layout-->
        <h5 class="cursor-pointer" v-b-toggle.themesAndLayout>Motywy i wygląd</h5>
        <b-collapse id="themesAndLayout" class="mt-2" visible>
            <b-form-group label="Motyw:">
                <b-form-radio-group
                        id="themes"
                        v-model="settings.theme"
                        size="sm"
                        name="themes"
                        buttons>
                    <b-form-radio id="primary" value="false" button-variant="outline-primary">Ciemny niebieski</b-form-radio>
                    <b-form-radio id="pink" value="true" button-variant="outline-pink">Ciemny różowy</b-form-radio>
                </b-form-radio-group>
            </b-form-group>

            <b-form-group label="Pokaż aktualne wartości na wykresach w dashboardzie:">
                <b-form-radio-group
                        id="showNumberInBars"
                        v-model="settings.show_numbers_in_bars"
                        name="show_numbers_in_bars"
                        size="sm"
                        :button-variant="btnVariant"
                        buttons>
                    <b-form-radio id="barsValuesNo" value="false">Nie</b-form-radio>
                    <b-form-radio id="barsValuesYes" value="true">Tak</b-form-radio>
                </b-form-radio-group>
            </b-form-group>

            <label class="d-block">Ilość wierszy w tabelach</label>
            <b-form-select v-model="settings.number_of_items_in_table" :options="options" class="col-md-3" size="sm" />
        </b-collapse>
        <hr />

        <!--Other settings-->
        <h5 class="cursor-pointer" v-b-toggle.otherSettings>Inne</h5>
        <b-collapse id="otherSettings" class="mt-2" visible>
            Ustawienia inne...
        </b-collapse>

        <button @click="saveSettings" class="col-sm-12 col-md-auto mt-3" :class="btnClass" :disabled="!show.saveSettingsBtn">
            <span v-show="!show.saveSettingsBtn"><i class="fas fa-spinner fa-spin"></i> Zapisywanie...</span>
            <span v-show="show.saveSettingsBtn">Zapisz</span>
        </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                settings: {
                    theme: this.$store.getters.settings.theme,
                    show_numbers_in_bars: this.$store.getters.settings.show_numbers_in_bars,
                    number_of_items_in_table: this.$store.getters.settings.number_of_items_in_table
                },
                show: {
                    saveSettingsBtn: true
                },

                btnVariant: 'outline-' + this.$store.getters.theme,
                btnClass: this.$store.getters.button,

                options: [
                    { value: 5, text: '5' },
                    { value: 10, text: '10' },
                    { value: 20, text: '20' }
                ]
            }
        },
        methods: {
            saveSettings: function () {
                this.show.saveSettingsBtn = false;
                /* string to boolean conversion: 'true' => true, 'false' => false */
                let theme = this.settings.theme;
                let show_numbers_in_bars = this.settings.show_numbers_in_bars;

                if(typeof(theme) !== "boolean") {
                    theme = theme === 'true'
                }
                if(typeof(show_numbers_in_bars) !== "boolean") {
                    show_numbers_in_bars = show_numbers_in_bars === 'true'
                }

                this.settings = {
                    'theme': theme,
                    'show_numbers_in_bars': show_numbers_in_bars,
                    'number_of_items_in_table': this.settings.number_of_items_in_table
                };

                this.$store.dispatch('saveSettings', this.settings)
                    .then(() => {
                        this.show.saveSettingsBtn = true;
                        window.location.reload(false);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
        props: {
        },
        components: { },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style scoped>
</style>
