<template>
    <div>
        <b-alert v-if="errors.length > 0" show variant="danger">
            <p v-for="error in errors">
                <strong>{{ error }}</strong>
            </p>
        </b-alert>
        <form @submit.prevent="handleForm">
            <div class="form-group">
                <label for="calories"><strong>Ilość kalorii</strong></label>
                <input class="form-control form-control-sm"
                       id="calories" type="text"
                       v-model.number="goal.calories">
            </div>

            <div class="form-group">
                <label for="proteins"><strong>Ilość białka</strong></label>
                <input class="form-control form-control-sm"
                       id="proteins" type="text"
                       v-model.number="goal.proteins">
            </div>

            <div class="form-group">
                <label for="carbs"><strong>Ilość węglowodanów</strong></label>
                <input class="form-control form-control-sm"
                       id="carbs" type="text"
                       v-model.number="goal.carbs">
            </div>

            <div class="form-group">
                <label for="fats"><strong>Ilość tłuszczy</strong></label>
                <input class="form-control form-control-sm"
                       id="fats" type="text"
                       v-model.number="goal.fats">
            </div>
        <input :class="btnClass" type="submit" :value="isSaving ? 'Zapisuję...' : 'Zapisz'" :disabled="isSaving"">
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: null,
                goal: {
                    calories: 'Brak',
                    proteins: 'Brak',
                    carbs: 'Brak',
                    fats: 'Brak'
                },
                errors: [],
                isSaving: false,
                btnClass: this.$store.getters.button,
            }
        },
        methods: {
            handleForm: function () {
                this.errors = [];
                if (this.validateForm()) {
                    this.isSaving = true;
                    this.$store.dispatch('saveGoal', { goal: this.goal, userId: this.user.id })
                        .then((response) => {
                            this.isSaving = false;
                            this.$router.go()
                        })
                        .catch((error) => {
                        })
                }
            },
            validateForm: function () {
                if (isNaN(this.goal.calories) || this.goal.calories <= 0) {
                    this.errors.push('Ilość kalorii musi być liczbą dodatnią!');
                }
                if (isNaN(this.goal.proteins) || this.goal.proteins <= 0) {
                    this.errors.push('Ilość białka musi być liczbą dodatnią!');
                }
                if (isNaN(this.goal.carbs) || this.goal.carbs <= 0) {
                    this.errors.push('Ilość węglowodanów musi być liczbą dodatnią!');
                }
                if (isNaN(this.goal.fats) || this.goal.fats <= 0) {
                    this.errors.push('Ilość tłuszczy musi być liczbą dodatnią!');
                }
                return this.errors.length === 0 ? true : false;
            }
        },
        props: {
        },
        components: { },
        created: function() {
            this.user = this.$store.getters.user;
            if (this.user.goal) {
                this.goal.calories = this.user.goal.calories;
                this.goal.proteins = this.user.goal.proteins;
                this.goal.carbs = this.user.goal.carbs;
                this.goal.fats = this.user.goal.fats;
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
</style>
